.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  padding: 5%;
  --background: none;
  background: linear-gradient(to top, var(--ion-color-primary-tint), var(--ion-color-secondary));
  min-height: 100vh;
}

.home {
  text-align: center;
  margin-top: 15px;
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -50px;
  margin-bottom: 40px;
}

.sub-eslogan {
  font-size: 20px;
  color: var(--ion-color-step-850);
}

.try-btn,
.info-btn {
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.try-btn {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
  border: none;
}

.try-btn:hover {
  background-color: var(--ion-color-primary-shade);
}

.info-btn {
  background-color: transparent;
  border: 2px solid var(--ion-color-primary);
  color: var(--ion-color-primary);
}

.info-btn:hover {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
}

/* BENEFICIOS */
.beneficios {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  font-size: 18px;
  color: var(--ion-color-medium);
  flex-wrap: wrap;
  text-align: center;
}

.scroll-down {
  margin-top: 30px;
  font-size: 22px;
  color: var(--ion-color-tertiary);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

/* SOBRE NOSOTROS */
.sobreNosotros {
  text-align: center;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.info {
  background-color: #272727;
  padding: 60px 40px;
  border-radius: 40px;
  max-width: 800px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: var(--ion-color-light); /* Se mantiene negro porque está sobre fondo claro */
}

.info h1 {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
}

.info h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 22px;
}

.info p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
}

.info ul {
  list-style: none;
  padding-left: 0;
  font-size: 18px;
  line-height: 1.8;
}

.info ul li {
  margin-bottom: 10px;
}

.verde {
  color: var(--ion-color-primary);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .home-buttons {
    margin-top: 50px;
  }
}
