body, html {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
  transition: background-color 0.3s, color 0.3s;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

